body {
  font-family: Arial;

}
h1 {
  background-color: rgb(202, 202, 202);
  color: white;
  margin:auto;
  text-align: center;
  length: 20%;
  padding: 5px;
}
#body2 {
  background-color: rgb(100,100,100);
  padding: 5px;

}
#middle {
  background-color: rgb(140, 140, 140);
  display: grid;
  grid-template-columns: 15% 35%;

}
#main {
  margin-left: auto;

}
#nav {
  margin-right: auto;
  padding-left: 5%;

}
h4 {
  color: white;
}
#copyright {
  text-align: right;
}
