<!DOCTYPE html>
<!--
Popeyes: Lauren Lee, Vivian Teo, Ian Jiang
SoftDev
K14 -- Serving Looks
2022-10-19
time spent: .3
 -->

 <html>
    <head>
        <link rel="stylesheet" type="text/css" href="/../static/style.css">
        <title> POPEYES </title>
    </head>

    <body>

      <div id="body2">
        <h1>
            h1 foo
        </h1>

          <!-- mid-gray section -->
          <div id="middle">
            <div id="nav">
                <h3>
                    nav foo
                </h3>
                <h4>
                  dis <br>
                  dat <br>
                  de udda ting <br>
                </h4>
            </div>

            <div id="main">
                <h2>
                    main foo heading
                </h2>
                body text
            </div>
          </div>
          <div id="copyright">
            Copyright C 2022 POPEYES
          </div>
        </div>



    </body>

 </html>
